.basePage {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

.basePage__content {
  display: flex;
  height: 100%;
}

.basePage__user {
  position: absolute;
  top: 20px;
  right: 30px;
  z-index: 1;
}