.content {
  display: flex;
  padding: 20px;
  flex-direction: column;
}

.title {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 10px;
}

.list {
  display: grid;
  gap: 14px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.card {
  max-width: 240px;
  cursor: pointer;
}

.cardText {
  margin-top: 5px;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
}

.image {
  width: 240px;
}